{% load i18n %}

<ul class="nav_list">
  <li class="nav_dashboard">
    <span class="glyphicon glyphicon-th"></span> {% trans 'Dashboard' %}
  </li>
  <li class="nav_users">
    <span class="glyphicon glyphicon-user"></span> {% trans 'Users' %}

    <ul class="sub_nav_list">
      <li>{% trans 'Groups' %}</li>
    </ul>
  </li>
  <li class="nav_schedule">
    <span class="glyphicon glyphicon-calendar"></span> {% trans 'Schedule' %}
  </li>
  <li class="nav_substations">
    <span class="glyphicon glyphicon-map-marker"></span> {% trans 'Substations' %}

    <ul class="sub_nav_list">
      <li>{% trans 'Pipelines' %}</li>
    </ul>
  </li>
  <li class="nav_settings">
    <span class="glyphicon glyphicon-cog"></span> {% trans 'Settings' %}
  </li>
  <li class="nav_stats">
    <span class="glyphicon glyphicon-stats"></span> {% trans 'Statistics' %}
  </li>
</ul>