{% load i18n %}

<ul class="nav_list">
  {% url 'admin:index' as dashboard %}
  <li class="nav_dashboard">
    <a href="{{ dashboard }}" class="{% if dashboard == request.path %}active{% endif %}"><span class="glyphicon glyphicon-th"></span> {% trans 'Dashboard' %}</a>
  </li>

  {% url 'admin:operators_stationuser_changelist' as users_panel %}
  {% url 'admin:auth_group_changelist' as groups_panel %}
  <li class="nav_users">
    <a href="{{ users_panel }}" class="{% if users_panel in request.path %}active{% endif %}"><span class="glyphicon glyphicon-user"></span> {% trans 'Users' %}</a>
    <ul class="sub_nav_list">
      <li>
        <a href="{{ groups_panel }}" class="{% if groups_panel in request.path %}active{% endif %}">{% trans 'Groups' %}</a>
      </li>
    </ul>
  </li>
  
  <li class="nav_schedule">
    <a href="#"><span class="glyphicon glyphicon-calendar"></span> {% trans 'Schedule' %}</a>
  </li>
  
  <li class="nav_substations">
    <a href="#"><span class="glyphicon glyphicon-map-marker"></span> {% trans 'Substations' %}</a>

    <ul class="sub_nav_list">
      <li>
        <a href="#">{% trans 'Pipelines' %}</a>
      </li>
    </ul>
  </li>
  
  <li class="nav_settings">
    <a href="#"><span class="glyphicon glyphicon-cog"></span> {% trans 'Settings' %}</a>
  </li>
  
  <li class="nav_stats">
    <a href="#"><span class="glyphicon glyphicon-stats"></span> {% trans 'Statistics' %}</a>
  </li>
</ul>