<ul class="nav_list">
  <li class="nav_dashboard">
    <span class="glyphicon glyphicon-th"></span> Dashboard
  </li>
  <li class="nav_users">
    <span class="glyphicon glyphicon-user"></span> Users

    <ul class="sub_nav_list">
      <li>Groups</li>
    </ul>
  </li>
  <li class="nav_schedule">
    <span class="glyphicon glyphicon-calendar"></span> Schedule
  </li>
  <li class="nav_substations">
    <span class="glyphicon glyphicon-map-marker"></span> Substations

    <ul class="sub_nav_list">
      <li>Pipelines</li>
    </ul>
  </li>
  <li class="nav_settings">
    <span class="glyphicon glyphicon-cog"></span> Settings
  </li>
  <li class="nav_stats">
    <span class="glyphicon glyphicon-stats"></span> Statistics
  </li>
</ul>