/*
Syntax error: Undefined variable: "$text_headers".
        on line 30 of /home/jimblanc/Documents/Work/MXL/Mercury2/ui/mercury2/compass/stylesheets/partials/_text.scss
        from line 8 of /home/jimblanc/Documents/Work/MXL/Mercury2/ui/mercury2/compass/stylesheets/admin.scss

Backtrace:
/home/jimblanc/Documents/Work/MXL/Mercury2/ui/mercury2/compass/stylesheets/partials/_text.scss:30
/home/jimblanc/Documents/Work/MXL/Mercury2/ui/mercury2/compass/stylesheets/admin.scss:8
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/script/variable.rb:49:in `_perform'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/script/node.rb:40:in `perform'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:147:in `recompile'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:87:in `perform'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/bin/compass:30:in `block in <top (required)>'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/bin/compass:44:in `call'
/home/jimblanc/.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/bin/compass:44:in `<top (required)>'
/home/jimblanc/.rvm/gems/ruby-2.1.2/bin/compass:23:in `load'
/home/jimblanc/.rvm/gems/ruby-2.1.2/bin/compass:23:in `<main>'
/home/jimblanc/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/home/jimblanc/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$text_headers\".\A         on line 30 of /home/jimblanc/Documents/Work/MXL/Mercury2/ui/mercury2/compass/stylesheets/partials/_text.scss\A         from line 8 of /home/jimblanc/Documents/Work/MXL/Mercury2/ui/mercury2/compass/stylesheets/admin.scss"; }
