{% extends "mercury2/standard.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Account Inactive" %}{% endblock %}

{% block page_content %}
<div class="content_container">
  <h1 class="page_title">{% trans "Account Inactive" %}</h1>
  
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <p class="form_instructions">
        {% blocktrans %}
        We're sorry but it appears that your account has been disabled. If you believe this is a mistake, please don't
        hesitate to contact us.
        {% endblocktrans %}
      </p>

      <ul class="form_links">
        <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
        <li><a href="{% url 'account_signup' %}">{% trans "Create an account" %}</a></li>
      </ul>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
    </div>
  </div>
</div>
{% endblock %}
