{% extends "mercury2/standard.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block page_content %}
<div class="content_container">
  <h1 class="page_title">{% trans "Login" %}</h1>

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <form class="pure-form pure-form-stacked standard" method="POST" action="">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
          <div class="form_errors">
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        
        <label for="{{ form.login.id_for_label }}">{% trans "Email" %}</label>
        {{ form.login.errors }}
        <input id="{{ form.login.id_for_label }}" type="text" class="pure-input-1-2" placeholder="Your Email Address" name="{{ form.login.html_name }}" maxlength="30">

        <label for="{{ form.password.id_for_label }}">{% trans "Password" %}</label>
        {{ form.password.errors }}
        <input id="{{ form.password.id_for_label }}" type="text" class="pure-input-1-2" placeholder="Your Password" name="{{ form.password.html_name }}" maxlength="30">

        <label for="{{ form.remember.id_for_label }}" class="pure-checkbox">
          <input id="{{ form.remember.id_for_label }}" type="checkbox" name="{{ form.remember.html_name }}"> {% trans "Remember me?" %}
        </label>

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        
        <div class="button_container">
          <button class="pure-button pure-button-primary button_standard" type="submit">{% trans "Login" %}</button>
        </div>

        <ul class="form_links">
          <li><a href="{% url 'account_signup' %}">{% trans "Create an account" %}</a></li>
          <li><a href="{% url 'account_reset_password' %}">{% trans "Forgot my password" %}</a></li>
        </ul>

      </form>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
    </div>
  </div>
</div>
{% endblock %}